[submodule "Sublime_Text"]
	path = Sublime_Text
	url = https://github.com/maliayas/SublimeText_Documentation
	ignore = dirty
[submodule "Sublime_Merge"]
	path = Sublime_Merge
	url = https://github.com/maliayas/SublimeMerge_Documentation
	ignore = dirty
